@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    @apply h-full bg-primary-dark;
  }

  body {
    @apply h-full;
  }

  div#__next {
    @apply h-full;
  }

  main {
    @apply h-full;
  }

  /* all text apply primary-light color */
  p,
  span,
  a,
  h1,
  h2,
  h3,
  label,
  button,
  input,
  textarea,
  select {
    @apply text-primary-light;
  }
}

/* Mobile */
.image-gallery-content .image-gallery-slide .image-gallery-image {
  padding: 0 10px !important;
  max-height: calc(100vh - 6.5rem) !important;
}

/* Desktop */
.image-gallery-icon {
  padding: 0 0 !important;
  box-shadow: none !important;
  filter: drop-shadow(0 2px 1px #1a1a1a) !important;
}

.image-gallery-icon:hover {
  color: #ffc962 !important;
  box-shadow: none !important;
}

.image-gallery-svg {
  width: 3.75rem !important;
  height: 3.75rem !important;
}

.image-gallery-thumbnail-image {
  object-fit: contain !important;
  max-height: 4.375rem !important;
}

.image-gallery-thumbnails {
  margin-top: 1.25rem !important;
}

@media (min-width: 640px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(100vh - 25rem) !important;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
