@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full;
  }

  div#__next {
    @apply h-full;
  }

  main {
    @apply h-full;
  }

  .slider {
    position: relative;
  }
  .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 10000%;
    height: 100%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
